Package: com.yourcompany.flexinjected
Name: FlexInjected
Depends: mobilesubstrate, preferenceloader,applist
Version: 0.0.2
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: lingyohunl
Author: lingyohunl
Section: Tweaks
